[Unit]
Description=Nginx Log Exporter

[Service]
User=admin
ExecStart=/opt/prometheus_nginxlog_exporter/prometheus-nginxlog-exporter --log-file=/var/log/nginx/access.log 

[Install]
WantedBy=multi-user.target