#=========================== Filebeat inputs =============================

filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log
  fields:
    service: nginx
  fields_under_root: true

- type: log
  enabled: true
  paths:
    - /var/log/elasticsearch/elasticsearch.log
  fields:
    service: elasticsearch
  fields_under_root: true

- type: log
  enabled: true
  paths:
    - /var/log/kibana/kibana.log
  fields:
    service: kibana
  fields_under_root: true

- type: log
  enabled: true
  paths:
    - /var/log/grafana/grafana.log
  fields:
    service: grafana
  fields_under_root: true

- type: log
  enabled: true
  paths:
    - /var/log/prometheus/prometheus.log
  fields:
    service: prometheus
  fields_under_root: true

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 1

#============================= Filebeat modules ===============================

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false


#-------------------------- Elasticsearch output ------------------------------

output.elasticsearch:
  hosts: ["{{elastic_host}}"]
  indices:
    - index: "nginx-logs"
      when.contains:
        service: "nginx"
    - index: "elasticsearch-logs"
      when.contains:
        service: "elasticsearch"
    - index: "kibana-logs"
      when.contains:
        service: "kibana"
    - index: "grafana-logs"
      when.contains:
        service: "grafana"
    - index: "prometheus-logs"
      when.contains:
        service: "prometheus"

#============================== Kibana =====================================

setup.kibana:
  host: "{{kibana_host}}"

